<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
</head>
<body>
    <h1>Invoices Receipt</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Invoice-Number #</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% if invoices is not empty %}
            <pre>
            {{ dump(invoices) }}
            </pre>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.invoice_number|e }}</td>
                        <td>${{ invoice.amount|number_format(2) }}</td>
                        <td>{{ invoice.invoice_status|e }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No invoices found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
